//- 
  options.isRooms - if option enable dropdown - dropdown rooms
  options.buttons - if option enable, added buttons confirm and clear

mixin dropdown(options)
  if !options
    - options = {}
  -
    let classes = '';
    let menuClass = '';
    let inputClass = '';
    classes += options.isRooms ? ' js-dropdown_rooms' : 'js-dropdown_guests';


  .dropdown.js-dropdown(class = classes)
    .dropdown__selection
      p.dropdown__input
      i.dropdown__button-icon keyboard_arrow_down
    .dropdown__menu
      .dropdown__option(data-id='adult', data-defaultcount=options.adult || '0', data-mincount='0')
        div
          .dropdown__text
      .dropdown__option(data-id='minor', data-defaultcount=options.minor || '0', data-mincount='0')
        div
          .dropdown__text
      .dropdown__option(data-id='infant', data-defaultcount=options.infant || '0', data-mincount='0')
        div
          .dropdown__text
      if (options.buttons)
        .dropdown__buttons
          span.dropdown__button_clear Очистить
          span.dropdown__button_confirm Применить