mixin signin(options)
  if !options
    - options = {}

  form.signin
    .signin__title Войти
    .signin__mail
      +textfield({
        placeholder: 'Email',
        type: 'email'
        })
    .signin__pass
      +textfield({
        placeholder: 'Пароль',
        type: 'password'
        })
    .signin__button
      +button({
        title: 'Войти',
        color: 'blue',
        isArrow: true})
    .signin__footer
      p.signin__text=options.textReg || 'Нет аккаунта на Toxin?'
      +button({
        title: options.titleReg || 'Создать',
        color: 'white',})