/* total */ 
@import '../../scss/utils.scss';

.total {
  padding: 10% 8% 8%;
  background: $default;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);
  border-radius: rem(4);

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__room {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(17);
    color: $darker;
  }

  &__number {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(26);
    line-height: rem(30);
    color: $darker;
  }

  &__suite {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(12);
    line-height: rem(15);
    text-transform: uppercase;
    color: $primary;
  }

  &__price-to-day,
  &__sub {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(14);
    line-height: rem(18);
    color: $medium;
  }

  &__price-to-day {
    display: flex;
    align-items: flex-end;
  }

  &__sub {
    font-weight: normal;
    font-size: rem(12);
    line-height: rem(15);
  }

  &__datepicker {
    margin-top: 7%;
  }

  &__dropdown {
    margin-top: 6%;
    margin-bottom: 6%;
  }

  &__options {
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
  }

  &__text,
  &__price {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(24);
    color: $dark;
  }
  
  &__text {
    width: 75%;
    display: flex;
  }

  &__price {

  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $light;
    border-radius: 50%;
    width: rem(20);
    height: rem(20);
    margin-left: auto;
    
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(12);
    line-height: rem(14);
    color: $light;
    text-decoration: none;
  }

  &__all {
    display: flex;
    justify-content: space-between;
    margin-top: 7.5%;
  }

  &__title,
  &__price-all {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(19);
    line-height: rem(24);
    color: $darker;
  }

  &__title {
  }

  &__line {
    flex-grow: 1;
    border-bottom: 1px dashed $light;
    box-sizing: border-box;
    ;
  }

  &__price-all {

  }

  &__button {
    margin-top: 6.5%;
  }

}
