mixin radio(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .radio
    each item in options.items
      label.radio__label
        input.radio__input(
          type = 'radio'
          name = item.name || 'name'
          tabindex = item.tabindex || '0'
          required = item.required
          checked = item.checked)
        span.radio__mark
        span.radio__text-label(class = labelClassName)=item.label || 'Some text'