extends ../../components/layout/layout
block title
   | Landing page
   
block main
   +main
      +section({
         theme: 'landing',
      })
         .landing__serch
            +search({dropBtn: true})
         .landing__text Лучшие номера для вашей работы, отдыха и просто вдохновения