@import '../../scss/utils.scss';

.landing {

  &__serch {
    max-width: rem(380);
    margin-top: rem(70);
  }

  &__text {
    align-self: flex-end;
    flex-basis: rem(300);
    margin-left: auto;
    margin-bottom: rem(20);
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(24);
    text-align: right;
    color: $dark;
  }
}