//- 
  options.color - задает цвет кнопок: blue, white; по умолчанию
  options.isTransparent - задает прозрачность для фона кнопки
  options.isArrow - добавляет иконку стрелки для кнопки
  options.titleColor - изменяет цвет кнопки(blue)
  options.type - тип кнопки (button по умолчанию)




mixin button(options)
  if !options
    - options = {}

  -
    let btnClassName = 'button__main'
    btnClassName += options.theme ? ' button_theme_' + options.theme : ''
    btnClassName += options.color ? ' button__main_' + options.color : ''

  .button
    button(
      class = btnClassName
      type= options.type || 'button'
      autofocus)
      span.button__title(class=titleClassName)=options.title || 'Button'
      if options.isArrow
        span.button__arrow arrow_forward