

mixin button(options)
  if !options
    - options = {}

  -
    let btnClassName = '';
    btnClassName += options.theme ? ' button_theme-' + options.theme : ''
    btnClassName += options.isFocused ? ' button_is-focused' : ''

  button.button(
    class = btnClassName
    type = options.type || 'button'
    name = options.name
    )=options.title || 'Button'
    if options.isArrow
      span.button__arrow arrow_forward