/* menu */ 
@import '../../scss/utils.scss';

.menu {
  
  &__button {
    margin: 20px auto;
    width: 200px;
    height: 30px;
    @media screen and (max-width: $sm) {
      display: block;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__item {
    position: relative;
    margin-right: rem(20);
    display: flex;
    align-items: center;

    &_sub {
      margin-right: 20px;
    }

    @media screen and (max-width: $sm) {
      padding-right: rem(15);
    }
  }
  
  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(17);
    color: $medium;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;
      
    }

    &:hover,
    &:active,
    &_activated {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
    }
  }

  
  &__link:hover + &__dropbtn {
     text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
     color: $dark;
  }
  /* Submenu */

  &__dropbtn {
    font-family: $icon;
    font-style: normal;
    font-weight: normal;
    font-size: rem(24);
    line-height: rem(20);
    color: $medium;
  }
  
  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    flex-direction: column;
    background: $default;
    padding: rem(10);

    &_activated {
      display: flex;
    }
  }

  &__subitem {
    margin-top: rem(5);
    color: $medium;
    
    &:hover {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
    }
  }

}