//-
  options.items - массив с элементами меню
  item.href - ссылка пункта меню
  item.title - текст пункта меню
  itemSub.href - ссылка пункта меню
  itemSub.title - текст пункта меню
  item.class - добавляет 


mixin menu(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .menu.js-menu
    button.menu__button.js-menu__button(hidden)
    nav.menu__list
      each item in options.items
        li.menu__item
          a.menu__link(href = item.href class = item.isActivated ? ' menu__link_activated' : item.subMenu ? 'js-menu__link' : '' )=item.title
          if item.subMenu
            span.menu__dropbtn expand_more
            ul.menu__submenu
              each itemSub in item.subMenu
                a.menu__subitem(href = itemSub.href)=itemSub.title