/* menu */ 
@import '../../scss/utils.scss';

.menu {
  
  &__button {
    // @media screen and (max-width: $sm) {
    //   display: block;
    // }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  &__item {
    padding-right: rem(30);

    @media screen and (max-width: $sm) {
      padding-right: rem(15);
    }
  }
  
  &__link {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(17);
    color: $medium;

    &:hover {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
      
    }

    &_activated {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
    }
   
  }
}