/* diagram */ 
@import '../../scss/utils.scss';

.diagram {
  
  &__container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      background: $default;
      border-radius: 50%;
      top: 25%;
      left: 25%;
    }

  }

  &__sector {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 0;
    transform-origin: left bottom;
  }
}
