@import '../../scss/utils.scss';

.search-room {
  
  &__aside {

  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: rem(60);
  }

  &__title {
    width: 100%;
    // margin-left: rem(10);
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(24);
    line-height: rem(30);
    color: $darker;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
  }

  &__item {
    // margin-left: rem(10);
    margin-top: rem(20);
  }

  &__pagination {
    max-width: rem(240);
    margin-top: rem(40);
  }
}