extends ../../components/layout/layout
block title
   | Search room
block main
   +main
      +section({theme: 'search'})
         aside.search-room__aside
            +filter
         .search-room__content
            h1.search-room__title Номера, которые мы для вас подобрали   
            .search-room__rooms
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
               .search-room__item
                  +room({
                     image: 'room2.jpg',
                     alt: 'hotel room',
                     number: '840',
                     price: '9 990',
                     counter: '65',
                     starcount: 4,
                     checked: true})
            .search-room__pagination
               +pagination({})