extends ../../components/uikit-layout/uikit-layout
block title
   | uikit
block header
   header.uikit__header
      +logo({ui:true})
block main
   .uikit__colors-fonts
      include ../../components/uikit/colors-fonts/colors-fonts
      