extends ../../components/layout/layout
include ../../components/main/main
include ../../components/header/header
include ../../components/section/section
include ../../components/column/column
include ../../components/type/type
include ../../components/logo/logo


block title
  | UI kit

block header
  +header({
    isUikit: true,
    logoHref: '/'})

block main
  +main()
    +section()

      //- Colors and Types -//
      
      .column.column__colors
        +type(
          {color: 'darker',
          title: 'Dark Shade 100%',
          text: '#1F2041'
          })
        +type(
          {color: 'dark',
          title: 'Dark Shade 75%',
          text: '#1F2041'
          })
        +type(
          {color: 'medium',
          title: 'Dark Shade 50%',
          text: '#1F2041'
          })
        +type(
          {color: 'light',
          title: 'Dark Shade 25%',
          text: '#1F2041'
          })
        +type(
          {color: 'lighter',
          title: 'Dark Shade 5%',
          text: '#1F2041'
          })
        +type(
          {color: 'purple',
          title: 'Purple',
          text: '#BC9CFF'
          })
        +type(
          {color: 'green',
          title: 'Green',
          text: '#6FCF97'
          })
      .column.column__fonts
        +type(
          {font: 'h1',
          description: 'This one is the sub-section or widget title'})
        +type(
          {font: 'h2',
          description: 'Next one is the item title inside widgets'})
        +type(
          {font: 'h3',
          description: 'This is a label or CTA text'})
        +type(
          {font: 'body',
          description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})