extends ../../components/layout/layout
include ../../components/main/main
include ../../components/header/header
include ../../components/section/section


block title
  | UI kit

block header
  +header({isUikit: true})

block main
  +main()
    +section()