extends ../../components/layout/layout
block title
   | Sign in
block header
    +header({
      regBtn: 'Зарегистрироваться',
      logBtn: 'Войти',
      menu: [
         {title: 'О нас', href: '/index.html'},
         {title: 'Услуги',
         subMenu: [
            {title: 'Услуга1', href: '/index.html'},
            ]},
         {title: 'Вакансии', href: '/index.html'},
         {title: 'Новости', href: '/index.html'},
         {title: 'Соглашения', 
         subMenu: [
            {title: 'Соглашение1', href: '/index.html'},
            ]},
      ]
   })
block main
   +main
      +section({
         theme: 'signin',
      })
         .signin-page__signin
            +signin({
               titleReg: 'Создать',
               textReg: 'Нет аккаунта на Toxin?'
            })
block footer
   +footer({
         logoText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
         subscribeTitle: 'Подписка',
         subscribeText: 'Получайте специальные предложения и новости сервиса',
         placeholder: 'Email',
         copyText: 'Copyright © 2018 Toxin отель. Все права зачищены.',
         items: [{
            title: 'Навигация',
            itemList: [
               {href: '/index.html', name: 'О нас'},
               {href: '/index.html', name: 'Новости'},
               {href: '/index.html', name: 'Служба поддержки'},
               {href: '/index.html', name: 'Услуги'},
               ]},{
            title: 'О нас',
            itemList: [
               {href: '/index.html', name: 'О сервисе'},
               {href: '/index.html', name: 'Наша команда'},
               {href: '/index.html', name: 'Вакансии'},
               {href: '/index.html', name: 'Инвесторы'},
               ]},{
            title: 'Служба поддержки',
            itemList: [
               {href: '/index.html', name: 'Соглашения'},
               {href: '/index.html', name: 'Сообщества'},
               {href: '/index.html', name: 'Связь с нами'},
               ]},
            ]
         })