extends ../../components/layout/layout
block title
   | Sign in
block main
   +main
      +section({
         theme: 'signin',
      })
         .signin-page__signin
            +signin({
               titleReg: 'Создать',
               textReg: 'Нет аккаунта на Toxin?'
            })
