@import '../../scss/utils.scss';

.signin-page {

  &__signin {
    width: 100%;
    max-width: rem(380);
    margin: auto;
  }

  &__footer {
    display: block;
    
    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__footer-logo {
    display: none;

    @media screen and (max-width: $md) {
      display: block;
    }
  }
}