mixin date-dropdown(options)
  if !options
    - options = {}


  if options.isDateFilter
    .date-dropdown.date-dropdown_theme_filter.js-date-dropdown
      +title({main: options.title || 'filter date dropdown'})
      .date-dropdown__selection
        input.date-dropdown__input.js-date-dropdown__input(
          type = 'text'
          placeholder = options.placeholder
        )
        i.date-dropdown__button-icon keyboard_arrow_down
  else
    .date-dropdown.js-date-dropdown
      .date-dropdown__inner
        +title({main: options.titleLeft || 'date dropdown'})
        .date-dropdown__selection
          input.date-dropdown__input.js-date-dropdown__input_start(
            type = 'text'
            placeholder = options.placeholder
          )
          i.date-dropdown__button-icon keyboard_arrow_down
      .date-dropdown__inner
        +title({main: options.titleRight || 'date dropdown'})
        .date-dropdown__selection
          input.date-dropdown__input.js-date-dropdown__input_end(
            type = 'text'
            placeholder = options.placeholder
          )
          i.date-dropdown__button-icon keyboard_arrow_down