mixin date-dropdown(options)
  if !options
    - options = {}


  if options.isDateFilter
    .date-dropdown.js-date-dropdown
      .date-dropdown__selection.date-dropdown__selection_theme-filter
        input.date-dropdown__input.js-date-dropdown__input(
          type = 'text'
          placeholder = options.placeholder 
        )
        i.date-dropdown__button-icon keyboard_arrow_down
  else
    .date-dropdown.js-date-dropdown
      .date-dropdown__selection
        input.date-dropdown__input.js-date-dropdown__input_start(
          type = 'text'
          placeholder = options.placeholder
        )
        i.date-dropdown__button-icon keyboard_arrow_down
      .date-dropdown__selection
        input.date-dropdown__input.js-date-dropdown__input_end(
          type = 'text'
          placeholder = options.placeholder
        )
        i.date-dropdown__button-icon keyboard_arrow_down