.form-elements
   .form-elements__row
      .form-elements__col
         .form-elements__list-first
            .form-elements__item
               +title({main: 'textfield', desc: 'default'})
               +textfield({placeholder: 'Email'})
            .form-elements__item
               +title({main: 'textfield', desc: 'hover/focus'})
               +textfield({placeholder: 'This is pretty awesome', state: 'hovered'})
            .form-elements__item
               +title({main: 'dropdown', desc: 'default'})
               +dropdown
            .form-elements__item
               +title({main: 'masked text field', desc: 'default', })
               +textfield({isMasked: true, placeholder: 'ДД.ММ.ГГГГ'})
            .form-elements__item
               +date-dropdown({titleLeft: 'date Dropdown', titleRight: 'date Dropdown', placeholder: 'ДД.ММ.ГГГГ'})
         .form-elements__list-second
            .form-elements__item
               +date-dropdown({isDateFilter: true, placeholder: 'ДД.ММ - ДД.ММ'})
            .form-elements__item
               +title({main: 'subscription textfield'})
               +textfield({placeholder: 'Email', subscription: true})
            .form-elements__item
               +title({main: 'dropdown', desc: 'Default'})
               +dropdown({isRooms: true, adult: '2', minor: '2'})
            .form-elements__item
               +title({main: 'dropdown', desc: 'Default'})
               +dropdown({isRooms: true,expanded: true, adult: '2', minor: '2'})
            .form-elements__item
               +checkbox-list()
            .form-elements__item
               +checkbox-list({opened: true, items: [
                  { name: 'breekfast', label: 'Завтрак' },
                  { name: 'breekfast', label: 'Письменный стол', checked: true },
                  { name: 'breekfast', label: 'Стул для кормления', checked: true },
                  { name: 'breekfast', label: 'Кроватка', checked: true },
                  { name: 'breekfast', label: 'Телевизор'},
                  { name: 'breekfast', label: 'Шампунь' },
               ]} )
            .form-elements__item
               +offer({items: [
                  { icon: 'insert_emoticon', },
                  { icon: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален' }
               ]})
      .form-elements__col
         .form-elements__item
            +title({main: 'Checkbox Buttons'})
            +checkbox({
               items: [
                  { name: 'checkbox', label: 'Можно курить' },
                  { name: 'checkbox', label: 'Можно с питомцами', checked: true },
                  { name: 'checkbox', label: 'Можно пригласить гостей (до 10 человек)', checked: true },
               ]
            })
         .form-elements__item
            +title({main: 'Radio Buttons'})
            +radio({
               items: [
                  { label: 'Мужчина', name: 'floor', checked: true },
                  { label: 'Женщина', name: 'floor' },
               ]
            })
         .form-elements__item
            +title({main: 'Toggle'})
            +toggle({
               items: [
                  { name: 'offer', label: 'Получать спецпредложения', checked: true },
                  { name: 'offer', label: 'Получать спецпредложения' }
               ]
            })
         .form-elements__item
            +title({main: 'like button'})
            +like-btn({ count: '2' })
            +like-btn({ count: '12', isActivated: true })
         .form-elements__item
            +title({ main: 'Rate button' })
            +rating({ name: 'one', count: 4, isChecked: true })
            +rating({ name: 'two', count: 5, isChecked: true })
      .form-elements__col
         .form-elements__item
            +range-slider({ title: 'Range Slider' })
         .form-elements__item
            +title({ main: 'Buttons' })
            +button
            +button({isFocused: true})
            +button({theme: 'blue'})
   .form-elements__row
      .form-elements__col
      .form-elements__col