/* column */ 
@import '../../scss/utils.scss';

.column {
  /* colors&types */

  &__colors {
    flex-basis: 300px;
  }

  &__colors .type {
    margin-bottom: rem(20);
  }

  &__fonts {
    flex-basis: 395px;
  }

  &__fonts .type{
    margin-bottom: rem(50);
  }
    /* colors&types */
  &_theme_elements {
    flex-basis: 320px;
  }

}