extends ../../components/layout/layout
include ../../components/main/main
include ../../components/header/header
include ../../components/section/section
include ../../components/column/column
include ../../components/type/type
include ../../components/logo/logo
include ../../components/textfield/textfield
include ../../components/title/title

block title
   | UI KIT Elements

block header
  +header({
    isUikit: true,
    logoHref: '/'})

block main
  +main()
    +section()
      .column_theme_elements
        .elements__item
          +title({main: 'Text Field', desc: 'Default'})
          +textfield({
            type: 'email',
            placeholder: 'Email'
          })
      .column_theme_elements
      .column_theme_elements
