extends ../../components/layout/layout
include ../../components/main/main
include ../../components/header/header
include ../../components/section/section
include ../../components/column/column
include ../../components/type/type
include ../../components/logo/logo
include ../../components/textfield/textfield
include ../../components/title/title
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox

block title
   | UI KIT Elements

block header
  +header({
    isUikit: true,
    logoHref: '/'})

block main
  +main()
    +section()
      .column_theme_elements
        .elements__item
          +title({main: 'Text Field', desc: 'Default'})
          +textfield({
            name: 'mail',
            type: 'email',
            placeholder: 'Email',
          })
        .elements__item
          +title({main: 'Text Field', desc: 'Hover / Focus'})
          +textfield({
            name: 'mail-active',
            type: 'email',
            placeholder: 'Email',
            isActive: true
          })
        .elements__item
          +title({main: 'dropdown', desc: 'Default'})
          +dropdown({})
        .elements__item
          +title({main: 'Masked Text Field', desc: 'Default'})
          +textfield({
            name: 'masked',
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            isMasked: true
          })
        .elements__item
          +title({main: 'date Dropdown'})
          +date-dropdown({
            placeholder: 'ДД.ММ.ГГГГ'
          })
        .elements__grope
          .elements__item
            +title({main: 'filter date Dropdown'})
            +date-dropdown({isDateFilter: true})
          .elements__item
            +title({main: 'subscription text field', desc: 'Default'})
            +textfield({
              name: 'sub-email',
              type: 'email',
              placeholder: 'Email',
              subscription: true
            })
          .elements__item
            +title({main: 'dropdown', desc: 'Default'})
            +dropdown({isRooms: true})
          .elements__item
            +title({main: 'dropdown', desc: 'Expanded'})
            +dropdown({
              isRooms: true,
              expand: true})
          .elements__item
            +checkbox-list({title: 'expandable checkbox list'})
              +checkbox({label: 'Завтрак', })
              +checkbox({label: 'Письменный стол', checked: true})
              +checkbox({label: 'Стул для кормления', checked: true})
              +checkbox({label: 'Кроватка', checked: true})
              +checkbox({label: 'Телевизор', })
              +checkbox({label: 'Шампунь', })
              +checkbox({label: 'Телевизор', })
              +checkbox({label: 'Шампунь', })
      .column_theme_elements
      .column_theme_elements
