extends ../../components/layout/layout


block title
   | UI KIT Elements

block header
  +header({
    theme: 'uikit',
    logoHref: '/'})

block main
  +main()
    +section()
      .elements__column
        .elements__item
          +title({main: 'Text Field', desc: 'Default'})
          +textfield({
            name: 'mail',
            type: 'email',
            placeholder: 'Email',
          })
        .elements__item
          +title({main: 'Text Field', desc: 'Hover / Focus'})
          +textfield({
            name: 'mail-active',
            type: 'email',
            placeholder: 'Email',
            isActive: true
          })
        .elements__item
          +title({main: 'dropdown', desc: 'Default'})
          +dropdown({})
        .elements__item
          +title({main: 'Masked Text Field', desc: 'Default'})
          +textfield({
            name: 'masked',
            type: 'text',
            placeholder: 'ДД.ММ.ГГГГ',
            isMasked: true
          })
        .elements__item
          +title({main: 'date Dropdown'})
          +date-dropdown({
            placeholder: 'ДД.ММ.ГГГГ'
          })
        .elements__grope
          .elements__item
            +title({main: 'filter date Dropdown'})
            +date-dropdown({isDateFilter: true})
          .elements__item
            +title({main: 'subscription text field', desc: 'Default'})
            +textfield({
              name: 'sub-email',
              type: 'email',
              placeholder: 'Email',
              subscription: true
            })
      .elements__column
        .elements__item
          +title({main: 'Checkbox Buttons'})
          +checkbox({label: 'Можно курить'})
          +checkbox({label: 'Можно с питомцами', checked: true})
          +checkbox({label: 'Можно пригласить гостей (до 10 человек)', checked: true})
        .elements__item_theme_toggle
          +title({main: 'Radio Buttons'})
          .elements__item_theme_radio
            +radio({label: 'Мужчина', name: 'female'})
            +radio({label: 'Женщина', name: 'female'})
        .elements__item_theme_toggle
          +title({main: 'Toggle'})
          +toggle({label: 'Получать спецпредложения', checked: true})
          +toggle({label: 'Получать спецпредложения', })
        .elements__item_theme_toggle
          +title({main: 'like button'})
          .elements__item_theme_like-btn
            +like-btn({count: '2'})
            +like-btn({count: '12', isActivated: true})
        .elements__item_theme_toggle
          +title({main:'rate button'})
          .elements__item_theme_rating
            +rating({count: '4', name: 'uikit-rate', isChecked:true})
            +rating({count: '5', isChecked:true, name: 'uikit-rate1'})
        

      .elements__column
        .elements__item
          +range-slider({
            description: 'Range Slider',
            name: 'range-slider'})
        .elements__item_theme_toggle
          +title({main: 'buttons'})
          .elements__item_theme_button
            +button({title: 'click me',})
            +button({title: 'click me', titleColor: 'blue'})
          .elements__item_theme_button
            +button({title: 'click me', color: 'blue'})
            +button({title: 'click me', color: 'blue', isTransparent: true,})
          .elements__item_theme_button
            +button({title: 'click me', color: 'white'})
            +button({title: 'click me', color: 'white', isTransparent: true,})
          +button({title: 'перейти к оплате', color: 'blue', isArrow: true})
        .elements__item_theme_toggle
          +title({main: 'pagination'})
          +pagination({})

    +section({theme: 'dropdown'})
      .elements__column
        .elements__grope
          .elements__item
            +title({main: 'dropdown', desc: 'Default'})
            +dropdown({isRooms: true})
          .elements__item
            +title({main: 'dropdown', desc: 'Expanded'})
            +dropdown({
              isRooms: true,
              expand: true})
      .elements__column
        .elements__item
          +title({main: 'dropdown'})
          +dropdown({buttons: true, expand: true, shadow: true})
      .elements__column
        .elements__item
          +title({main: 'dropdown'})
          +dropdown({buttons: true, expand: true})
    +section({theme: 'list'})
      .elements__column
        .elements__grope
          .elements__item.elements__item_theme_list
            +checkbox-list({title: 'expandable checkbox list'})
          .elements__item
              +checkbox-list({title: 'expandable checkbox list',})
              +checkbox({label: 'Завтрак', })
              +checkbox({label: 'Письменный стол', checked: true})
              +checkbox({label: 'Стул для кормления', checked: true})
              +checkbox({label: 'Кроватка', checked: true})
              +checkbox({label: 'Телевизор', })
              +checkbox({label: 'Шампунь', })
              +checkbox({label: 'Телевизор', })
              +checkbox({label: 'Шампунь', })
      .elements__column
        +title({main: 'Rich Checkbox Buttons'})
        +checkbox({label: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.'})
        +checkbox({label: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.'})
      .elements__column
        +title({main: 'bullet list'})
        +bullet({items: [
          'Нельзя с питомцами',
          'Без вечеринок и мероприятий',
          'Время прибытия — после 13:00, а выезд до 12:00'
        ]})
    +section({theme: 'offer'})
      .elements__column
          .elements__grope
            .elements__item
              +offer({
                icon: 'insert_emoticon',
                title: 'Комфорт',
                text: 'Шумопоглощающие стены'
              })
            .elements__item
              +offer({
                icon: 'location_city',
                title: 'Удобство',
                text: 'Окно в каждой из спален'
              })
      +review({
        image: 'murad.png',
        title: 'Мурад Сарафанов',
        subtitle: '5 дней назад',
        count: '12',
        review: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'
        })