mixin range-slider(options)
  if !options
    - options = {}

  .range-slider
    .range-slider__title
      h3.range-slider__desc=options.desc
      p.range-slider__range.js-input-range
    input.range-slider__input.js-range-slider__input(
      type = 'text'
      name = options.name
      )
    .range-slider__text=options.text