/********* Range slider *********/
@import '../../scss/utils.scss';

.range-slider {
  width: rem(266);

  &__title {
    display: flex;
    flex-direction: row nowrap;
    margin-bottom: rem(24);
  }

  &__range {
    width: 50%;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(12);
    line-height: rem(15);
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: $medium;
  }

  &__desc {
    width: 50%;
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(12);
    line-height: rem(15);
    text-transform: uppercase;
    color: $darker;
    margin-right: auto;
  }

  &__text {
    margin-top: rem(10);
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(12);
    line-height: rem(14);
    color:  $medium;
  }
}

/********* Range slider custom style *********/

.irs--user .irs-line {
  cursor: pointer;
  background: $default;
  height: 6px;
  border: 1px solid $light;
  box-sizing: border-box;
  border-radius: 3px;
}

.irs--user .irs-bar {
  cursor: pointer;
  bottom: 0;
  background: $secondary-grad;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.irs--user .irs-handle {
  cursor: pointer;
  top: -4px;
  right: 0;
  bottom: 0;
  background: $secondary-grad;
  border: 2px solid $default;
  border-radius: 10px;
  width: 16px;
  height: 16px;
}

/********* Range slider custom style *********/

/********* Range slider *********/