extends ../../components/uikit-layout/uikit-layout
block title
   | Form elements
block header
   //- +debug
   .form-elements__header
      .form-elements__logo
         +logo({ui: true})
block main
   
   