@import '../../scss/utils.scss';

.form-elements {

  &__header {
    @include wrapper;
    max-width: 1440px;
    padding: 30px 30px 65px 30px;
  }

  &__logo {
    width: 48px;
  }

  &__wrap {
    @include row-flex;

  }

  &__items {
    @include col;
    @include size(6.8);

    &_center {
      margin-left: 120px;
      margin-right: 65px;
    }

  }

  &__textfield {
    &_activated {
      margin-top: 20px;
    }
  }
  
  &__dropdown {
    margin-top: 20px;
  }

  &__masked {
    margin-top: 20px;

  }
  
  &__date-dropdown {
    margin-top: 40px;

  }
  
  &__date-filter {
    margin-top: 40px;
    max-width: 266px;
  }

  &__subscription {
    margin-top: 40px;
    max-width: 266px;
  }
  
  &__dropdown-rooms {
    margin-top: 100px;
    max-width: 266px;
  }
  
  &__dropdown-rooms_expand {
    margin-top: 20px;
    max-width: 266px;
  }
  
  &__checkbox-list {
    margin-top: 170px;
    max-width: 266px;
  }
  
  &__checkbox-list_expand {
     margin-top: 30px;
     max-width: 266px;
  }

  &__checkbox-btn {
    max-width: 230px;
    & .title {
      margin-bottom: 16px;
    }
  }

  &__checkbox {
    margin-top: 10px;
  }

  &__radio-btns {
    margin-top: 30px;
  }

  &__radio-btn {
    display: flex;

    & .radio {
      margin-right: 20px;
    }
    
  }
  
  &__toggle {
    margin-top: 40px;

    & .title {
      margin-bottom: 16px;
    }
    & .toggle {
      margin-bottom: 10px;
    }

  }

  &__like-btns {
    margin-top: 40px;

    & .title {
      margin-bottom: 15px;
    }

  }

  &__like-btn {
    display: flex;
    
    & .like-btn {
      margin-right: 10px;
    }
  }
  
  &__rate-btns {
    margin-top: 42px;
  }

  &__rate-btn {
    margin-top: 20px;
    display: flex;
    
    & .rating {
      margin-right: 20px;
    }
  }
  
  &__dropdown-guest {
    margin-top: 195px;
  }

  &__rich-checkbox {
    margin-top: 255px;
    max-width: 260px;

    & .title {
      margin-bottom: 16px;
    }

    & .checkbox {
      margin-bottom: 10px;
    }
  }

  &__range-slider {
    

  }

  &__buttons {
    margin-top: 30px;

    & .title { 
      margin-bottom: 16px;
    }

    & .button { 
      margin-bottom: 28px;
      width: 100px;

      &:last-child {
        width: 100%;
      }
    }
  }

  &__pagination {
    margin-top: 40px;
    max-width: 245px;

    & .title {
      margin-bottom: 16px;
    }
  }

  &__dropdown-guests_expand {
   margin-top: 230px;
  }

  &__bullet {
    margin-top: 255px;
    max-width: 260px;

  }

  &__offer-review {
    @include row-flex;
    justify-content: space-between;
    margin-top: 210px;
  }

  &__offer {
    @include col;
    @include size(5.6);

    & .offer {
      margin-bottom: 25px;
    }
  }
  
  &__review {
    @include col;
    @include size(14.8);
    padding-top: 10px;
  }
}