extends ../../components/layout/layout
block title
   | Registration
block main
   +main
      +section({
         theme: 'signin',
      })
         .registration-page__reg
            +registration({
               
            })