/* title */ 
@import '../../scss/utils.scss';

.title {
  margin-bottom: rem(5);
  display: flex;
  justify-content: space-between;

  &__main {
    @include h(3);
  }

  &__desc {
    @include h(3);
    font-weight: normal;
    color: $medium;
  }
}
