/* logo */
@import '../../scss/utils.scss';

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 105px;
  
  &_ui {
    max-width: 48px;
  }
  &__image {
    width: 100%;
  }
}