/* logo */
@import '../../scss/utils.scss';

.logo {
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: rem(105);
  
  &_ui {
    max-width: rem(48);
  }
  &__image {
    width: 100%;
  }
}