/* logo */ 
@import '../../scss/utils.scss';

.logo {
 max-width: rem(110);
 
  &__link {
    display: flex;
    align-items: center;
  }
  
  &__img {
    width: rem(40);
    height: rem(40);
  }

  &__img-path {
    fill: $darker;
    fill-opacity: 0.25;
  }

  &__title {
    margin-left: rem(12.5);
    width: rem(54);
    height: rem(14);
  }

  &__title-path {
    fill: $darker;
  }

  &_theme_uikit {
    width: rem(48);
    height: rem(48);
  }
}