//- title
//- items = options.items = [{name, label, checked}]

mixin checkbox-list(options)
  if !options
    - options = {}
    
  -
    let classes = '';
    classes += options.opened ? ' checkbox-list_open' : '';

  .checkbox-list.js-checkbox-list(class = classes)
    .checkbox-list__label
      p.checkbox-list__title=options.title || 'expandable checkbox list'
      i.checkbox-list__icon-button.js-checkbox-list__icon-button expand_more
    .checkbox-list__list.js-checkbox-list__list
      +checkbox({items: options.items})