mixin checkbox-list(options)
  if !options
    - options = {}

  .checkbox-list.js-checkbox-list
    .checkbox-list__label
      p.checkbox-list__title=options.title
      i.checkbox-list__icon-button expand_more
    .checkbox-list__list
      block