/* checkbox-list */ 
@import '../../scss/utils.scss';

.checkbox-list {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 100%;
  margin: 0;
  padding: 0;
  
  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include h(3);
  }

  &__icon-button {
    @include icon;
    cursor: pointer;
    width: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    
  }

  &__list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-top: rem(15);

    & .checkbox {
      margin-bottom: rem(7);
    }
  }
}

.checkbox-list_open .checkbox-list__icon-button {
  transform: rotate(-180deg);
}

.checkbox-list_open .checkbox-list__list {
  visibility: visible;

}
