@import '../../scss/utils.scss';

.layout {

  &__footer {
    display: block;

    @media screen and (max-width: $md) {
      display: none;
    }
  }

  &__footer-logo {
    display: none;

    @media screen and (max-width: $md) {
      display: block;
    }
  }
}