include ../../components/main/main
include ../../components/header/header
include ../../components/section/section
include ../../components/type/type
include ../../components/logo/logo
include ../../components/textfield/textfield
include ../../components/title/title
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/bullet/bullet
include ../../components/offer/offer
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-btn/like-btn
include ../../components/rating/rating
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/review/review
include ../../components/search/search
include ../../components/registration/registration
include ../../components/signin/signin
include ../../components/total/total
include ../../components/room/room
include ../../components/datepicker/datepicker
include ../../components/footer/footer
include ../../components/filter/filter
include ../../components/gallery/gallery
include ../../components/room-info/room-info
include ../../components/diagram/diagram
include ../../components/debug/debug

doctype html
html
  head

    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title
  body.body
    block header
      +header({
        regBtn: 'Зарегистрироваться',
        logBtn: 'Войти',
        menu: [
          {title: 'О нас', href: '/index.html'},
          {title: 'Услуги',
            subMenu: [
                {title: 'Услуга1', href: '/index.html'},
                ]},
          {title: 'Вакансии', href: '/index.html'},
          {title: 'Новости', href: '/index.html'},
          {title: 'Соглашения', 
            subMenu: [
                {title: 'Соглашение1', href: '/index.html'},
                ]},
        ]
      })
    block main
    block footer
      .layout__footer
        +footer({
          logoText: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
          subscribeTitle: 'Подписка',
          subscribeText: 'Получайте специальные предложения и новости сервиса',
          placeholder: 'Email',
          copyText: 'Copyright © 2018 Toxin отель. Все права зачищены.',
          items: [{
              title: 'Навигация',
              itemList: [
                {href: '/index.html', name: 'О нас'},
                {href: '/index.html', name: 'Новости'},
                {href: '/index.html', name: 'Служба поддержки'},
                {href: '/index.html', name: 'Услуги'},
                ]},{
              title: 'О нас',
              itemList: [
                {href: '/index.html', name: 'О сервисе'},
                {href: '/index.html', name: 'Наша команда'},
                {href: '/index.html', name: 'Вакансии'},
                {href: '/index.html', name: 'Инвесторы'},
                ]},{
              title: 'Служба поддержки',
              itemList: [
                {href: '/index.html', name: 'Соглашения'},
                {href: '/index.html', name: 'Сообщества'},
                {href: '/index.html', name: 'Связь с нами'},
                ]},
              ]
          })
      .layout__footer-logo
          +footer({isLogo: true})