extends ../../components/layout/layout
block title
   | Room details
block main
   +section({theme: 'room'})
      +gallery({
         images: [
            {image: 'gallery1.jpg', active: true},
            {image: 'gallery2.jpg'},
            {image: 'gallery3.jpg'},
         ]
         })