/* filter */ 
@import '../../scss/utils.scss';

.filter {
  
  &__date-dropdown {
    margin-bottom: 7%;
  }

  &__dropdown {
    margin-bottom: 12%;
  }

  &__range-slider {
    margin-bottom: 12%;
  }

  &__checkboxes {
    margin-bottom: 9%;

    & .title {
      margin-bottom: 7%;
    }

    & .checkbox {
      margin-bottom: 3%;
    }
  }

  &__checboxes-rich {

    margin-bottom: 11%;

    & .title {
      margin-bottom: 6%;
    }

    & .checkbox {
      margin-bottom: 2%;
    }
  }

  &__checkbox-list {

  }
 
}
