@import '../../scss/utils.scss';

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  max-width: $xlg;
  margin: 0 auto;
  padding-top: rem(15);
  padding-right: rem(15);
  padding-bottom: rem(15);
  padding-left: rem(15);
  background: $default;


  &_theme_uikit {
    padding: 30px 0 65px 30px;
  }
  &_theme_cards {
    padding: 30px 0 72px 30px;
    background: #F4F4F6;
  }

  &__logo {

  }

  &__menu {
    margin-left: auto;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-right: rem(20);
  }

  @include media-block;
}