@import '../../scss/utils.scss';

.header {
  width: 100%;
  background: $default;
  
/* Main */
  &__main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: $max;
    margin: 0 auto;
    padding: 15px 140px;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

      @media screen and (max-width: $xlg) {
        padding: 15px calc(50vw - 580px);
      }

      @media screen and (max-width: $lg) {
        padding: 15px calc(50vw - 480px);
      }

      @media screen and (max-width: $lg) {
        padding: 15px 15px;
      }
  }
/* Main */

/* Username */

  &__username {
    padding-left: rem(30);
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(17);
    color: $medium;

    &:hover {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
    }
  }
/* Username */

/* Menu */

  &__menu {
    margin-left: auto;

    @media screen and (max-width: $sm) {
      width: 100%;

    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    margin-right: rem(20);

    &:last-child {
      margin-right: 0;
    }
  }


}