include ../logo/logo
include ../menu/menu
include ../button/button

mixin header(options)
  if !options
    - options = {}

  - let classes = options.theme ? 'header_theme_' + options.theme : '';

    .header
      header.header__main(class = classes)
        .header__logo
          +logo({isTitle: true})
        .header__menu
          +menu({
            items: options.menu
          })
        if options.isRegistered
          a.header__username(href = '/user_page') Cosmin Negoita
        else
          .header__buttons
            .header__button
              +button({
                color: 'white',
                title: options.logBtn
                })
            .header__button
              +button({
                color: 'blue',
                title: options.regBtn
                })
          block