mixin header(options)
  if !options
    - options = {}

  - let classes = options.theme ? 'header_theme_' + options.theme : '';

    header.header(class = classes)
      +logo({theme: options.logoTheme, href: options.logoHref}) 
      block