mixin header(options)
  if !options
    - options = {}

  - let classes = options.isUikit ? 'header_theme_uikit' : '';

  if options.isUikit
    header.header(class = classes)
      +logo({isUikit: true, href: options.logoHref}) 
  else
    header.header(class = classes)
      block