include ../logo/logo
include ../menu/menu
include ../button/button

mixin header(options)
  if !options
    - options = {}

  - let classes = options.theme ? 'header_theme_' + options.theme : '';

    header.header(class = classes)
      .header__logo
        +logo({isTitle: true})
      .header__menu
        +menu
      .header__buttons
        .header__button
          +button({
            color: 'white',
            title: 'login'
            })
        .header__button
          +button({
            color: 'blue',
            title: 'register'
            })
        block