/* type */
@import '../../scss/utils.scss';

$colors: (darker : $darker,
  dark : $dark,
  medium : $medium,
  light : $light,
  lighter : $lighter,
  purple : $primary,
  green : $secondary,
);

.type {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 280px;

  &__color {
    width: rem(70);
    height: rem(70);
    background: $darker;
    border-radius: rem(6);
    margin-right: rem(40);


    @each $color,
    $tint in $colors {
      &_#{$color} {
        background: $tint;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__title,
  &__text {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(19);
    line-height: rem(29);
    color: $darker;
  }

  &__text {
    font-weight: normal;
    font-family: 'Open sans';
  }

  &__font {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: $light;
    align-self: start;
    text-transform: uppercase;
    margin-left: 20px;

    &_h2 {
      font-size: 19px;
      line-height: 23px;
    }

    &_h3 {
      font-size: 12px;
      line-height: 15px;
      padding-left: 10px;

    }

    &_Body {
      font-size: 14px;
      line-height: 24px;
      text-transform: none;
      margin-left: 10px;

    }
  }

  &__description {
    @include h;
    margin-left: 30px;
    padding-right: 30px;


    &_h2 {
      @include h(2);
    }

    &_h3 {
      @include h(3);
      text-transform: uppercase;
    }

    &_Body {
      @include text;
      padding-right: 70px;

    }
  }
}
