//- 
  options.label - текст после чекбокса
  options.text -  если активна опция, то появляется подпись под основным текстом чекбокса(RICH CHECKBOX)
  



mixin checkbox(options)
  if !options
    - options = {}
  -
    let labelClassName = ''
    labelClassName += options.text ? ' checkbox__text-label-rich' : ''

  .checkbox
    label.checkbox__label
      input.checkbox__input(
        type = 'checkbox'
        name = options.name
        checked = options.checked)
      span.checkbox__mark
      span.checkbox__text-label(class = labelClassName)=options.label
      -if(options.text)
        p.checkbox__rich-text=options.text