mixin section(options)
  if !options
    - options = {}

  -
    let classes = '';
    classes += options.theme === color ? ' section__theme_color' : '';
  
  section.section(class = classes)
    block