mixin section(options)
  if !options
    - options = {}

  -
    let classes = '';
    classes += options.theme ? ' section_theme_' + options.theme : '';
  
  section.section(class = classes)
    block