/* section */ 
@import '../../scss/utils.scss';

.section {
  display: flex;
  margin: 0 auto;
  height: 100%;
  padding: 15px 15px;
  background: #FFFFFF;


  &_theme_cards {
    background: #F4F4F6;
  }

  &_theme_signin {
    align-items: center;
    background: url('/assets/img/signin.png') no-repeat center center;
    background-size: cover;
  }

  &_theme_landing {
    background: url('/assets/img/landing.jpg') no-repeat center center;
    background-size: cover;
  }

  &_theme_search {

  }
  
}
