include ../title/title
include ../logo/logo
include ../textfield/textfield
include ../menu/menu

//- 
  options.isLogo - вариант футера с логотипом текстом и блоком иконок соц.сетей
  options.logoText - текст рядом с логотипом
  options.copyText - текс copyright
  options.item.title - заголовок к подменю
  options.items.item.subItem.href - адресс ссылки меню в футере по умолчанию '/index.html'
  options.items.item.subItem.name - название ссылки меню

mixin footer(options)
  if !options
    - options = {}
  -
    let classes = '';
    classes += options.isLogo ? 'footer__main_theme-logo' : '';

  .footer
    if options.isLogo
      footer.footer__wrap
        .footer__main(class = classes)
          +logo({isTitle: true})
          p.footer__text=options.logoText || 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
          .footer__social
            a.footer__link(href = 'https://twitter.com/')
              span &#xf099;
            a.footer__link(href = 'https://www.facebook.com/')
              span &#xf082;
            a.footer__link(href = 'https://www.instagram.com')
              span &#xf16d;

    else
      footer.footer__wrap
        .footer__main
          .footer__promo
            +logo({isTitle: true})
            p.footer__text=options.logoText || 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'
          each item in options.items
            .footer__nav
              +title({main: item.title})
              .footer__menu
                each itemSub in item.itemList
                  a.footer__item(href = itemSub.href)=itemSub.name  
          .footer__promo
            +title({main: 'Subscribe to our newsletter'})
            p.footer__text Receive our latest news and promotions in your inbox!
            +textfield({
              subscription: true,
              placeholder: 'Your email address',
              type: 'email'
            })
        .footer__border
          p.footer__copy=options.copyText || 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
          .footer__social
            a.footer__link(href = 'https://twitter.com/')
              span &#xf099;
            a.footer__link(href = 'https://www.facebook.com/')
              span &#xf082;
            a.footer__link(href = 'https://www.instagram.com')
              span &#xf16d;
