/* footer */ 
@import '../../scss/utils.scss';

.footer {
  width: 100%;
  background: $default;

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: $max;
    margin: 0 auto;
    padding: 100px 140px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

  }

  &__main {
    
    &_theme-logo {
      flex-direction: column;
      align-items: center;
    }
  }

  &__text {
    margin-top: rem(20);
    margin-bottom: rem(20);
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(24);
    color: $dark;
  }

  &__nav {
    flex-basis: rem(150)
  }

  &__title {
    font-family: $main-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(12);
    line-height: rem(15);
    text-transform: uppercase;
    color: $darker;
  }

  &__menu {
    display: flex;
    flex-direction: column;
  }
  
  &__item {
    margin-top: rem(20);
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(17);
    color: $medium;
    
    &:hover {
      text-shadow: 0.6px 0.3px 0.3px, -0.6px -0.3px 0.3px;
      color: $dark;
    }
  }

  &__promo {
    width: 25%;
    flex-basis: rem(260);

    @media screen and (max-width: $sm) {
      flex-grow: 1;
      flex-basis: rem(500);
      margin: rem(20) auto;
    }
  }


  &__border {
    display: flex;
    width: 100%;
    max-width: $max;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0px 10px 20px $lighter;
    padding: 25px 140px;

  }

  &__copy {
    flex-grow: .5;
    margin-left: auto;
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(17);
    color: $dark;
  }

  &__social {
    flex-grow: .5;
    text-align: right;
  }

  &__link {
    margin-left: rem(20);
  }

  &__link span {
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: normal;
    font-size: rem(24);
    line-height: rem(23);
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.footer__main_theme-logo > .footer__text {
  max-width: rem(560);
  text-align: center;
  margin-bottom: rem(25);
}
.footer__main_theme-logo > .footer__social {
  padding-bottom: rem(10);
  flex-grow: 0;

  & .footer__link {
    margin: 0 10px;
  }
}