section.cards__section
   .cards__logo
      +logo({typeLogo: 'img'})
   .cards__search
      +search
   .cards__registration
      +registration
   .cards__total
      +total
   .cards__signin
      +signin
   .cards__datepicker
      +datepicker
   .cards__room-active
      +room({isAction: true, suite: 'люкс'})
   .cards__room
      +room({number: '840', starcount: '4', checked: true, rewiev: '65'})
