//- options.isActive added modifier 'activated';
//- options.isMasked added modifier 'masked';

mixin textfield(options)
  if !options
    - options = {}
  -
    let inputClass = '';
    inputClass += options.isActive ? ' textfield__input_activated' : '';
    inputClass += (options.isMasked === true & options.type === 'text') ? ' js-textfield__input_masked' : '';

  .textfield.js-textfield
    if (options.type === 'text' || options.type === 'email' || options.type === 'password')
      input.textfield__input(
        class = inputClass
        type = options.type
        placeholder = options.placeholder
        name = options.name
        pattern = options.pattern
        tabindex = options.tabindex
        required = options.required
      )
      if options.subscription
        i.textfield__icon arrow_forward