//- options.isMasked added modifier 'masked';
//- options.state: 'hover'

mixin textfield(options)
  if !options
    - options = {}
  -
    let inputClass = '';
    inputClass += options.isMasked ? ' js-textfield__input_masked' : '';
    inputClass += options.state ? 'textfield__input_' + options.state : '';

  .textfield.js-textfield
    input.textfield__input(
      class = inputClass
      type = options.type || 'text'
      placeholder = options.placeholder
      name = options.name
      pattern = options.pattern
      tabindex = options.tabindex
      required = options.required
    )
    if options.subscription
      button.textfield__button