//- options.isActive added modifier 'activated';
//- options.isMasked added modifier 'masked';

mixin textfield(options)
  if !options
    - options = {}
  -
    let inputClass = '';
    inputClass += options.isMasked ? ' js-textfield__input_masked' : '';

  .textfield.js-textfield
    input.textfield__input(
      class = inputClass
      type = options.type || 'text'
      placeholder = options.placeholder
      name = options.name
      pattern = options.pattern
      tabindex = options.tabindex
      required = options.required
    )
    if options.subscription
      button.textfield__button(type = 'submit') arrow_forward