/* textfield */ 
@import '../../scss/utils.scss';

.textfield {
  position: relative;
  flex-basis: rem(300);
  
  
  &__input {
    
    padding-left: 15px;
    width: 100%;
    height: rem(44);
    background: $default;
    border: 1px solid $light;
    box-sizing: border-box;
    border-radius: rem(4);

    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(24);
    overflow: hidden;
    color: $light;

      &::placeholder {
        color: $light;
      }

      &:hover,
      &:focus,
      &_activated {
        border-color: $medium;
        color: $dark;

        &::placeholder {
          color: $dark;
        }
      }
  }

  &__button {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width:  rem(44);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    font-family: $icon;
    font-style: normal;
    font-weight: normal;
    font-size: rem(24);
    line-height: rem(24);

    background: $primary-grad;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
  } 
}
