include ../../components/main/main
include ../../components/header/header
include ../../components/section/section
include ../../components/type/type
include ../../components/logo/logo
include ../../components/textfield/textfield
include ../../components/title/title
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/checkbox-list/checkbox-list
include ../../components/checkbox/checkbox
include ../../components/bullet/bullet
include ../../components/offer/offer
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like-btn/like-btn
include ../../components/rating/rating
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/review/review
include ../../components/search/search
include ../../components/registration/registration
include ../../components/signin/signin
include ../../components/total/total
include ../../components/room/room
include ../../components/datepicker/datepicker
include ../../components/footer/footer
include ../../components/filter/filter

doctype html
html
  head

    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title
  body.body
    block header
    block main
    block footer