//- 
  options.isAction - добавляет иконки для перелистывания слайдера
  options.iamge - изображение номера
  options.alt - подпись к img
  options.number - номер
  options.suite - вид номера люкс или ''
  options.price - цена номера за сутки
  options.starcount - рейтинг колличество звезд
  options.checked - true или false(default)
  options.counter - колличество отзывов

mixin room(options)
  if !options
    - options = {}

  .room
    if options.isAction
      .room__slider
        img.room__img(
          src = options.image ? './img/' + options.image : './img/room.jpg'
          alt = options.alt || 'hotel room')
        span.room__action.room__action_prev expand_more
        span.room__action.room__action_next expand_more
        .room__controls
          .room__control.room__control_activated
          .room__control
          .room__control
          .room__control
    else
      .room__slider
        img.room__img(
          src = options.image ? './img/' + options.image : './img/room.jpg'
          alt = options.alt || 'hotel roomspan')
        .room__controls
          .room__control.room__control_activated
          .room__control
          .room__control
          .room__control
    .room__content
      .room__title
        span.room__number=options.number ? '№ ' + options.number : '№ 888'
          span.room__suite=options.suite ? ' ' + options.suite : ''
        span.room__price=options.price ? options.price + '₽' : '9 990₽'
          span.room__day  в сутки
      .room__rate
        .room__stars
          +rating({count: options.starcount || '5', isChecked: options.checked || true })
        p.room__counter=options.rewiev || '145'
          span.room__sub  Отзывов