mixin toggle(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []

  .toggle
    each item in options.items
      label.toggle__label
        input.toggle__input(
          type='checkbox'
          name=item.name
          checked = item.checked )
        span.toggle__mark
        span.toggle__text=item.label