@import './smart-grid';
@import './font-settings';
@import './colors';

$full-width: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 760px;
$sm: 576px;
$xs: 320px;

// Main color

/* Background transparency change function */

@function alphagrad($grad, $alpha: 1) {
  @if ($grad : $primary-grad) {
    @return linear-gradient(180deg, rgba(188, 156, 255, $alpha) 0%, rgba(139, 164, 249, $alpha) 100%);
  }

  @else if ($grad : $secondary-grad) {
    @return linear-gradient(180deg, rgba(111, 207, 151, $alpha) 0%, rgba(102, 210, 234, $alpha) 100%);
  }
}



/* Function px to rem */

