//Utils
@import "../fonts/fonts";
@import './utils';
@import './reset';
// Pages

 html {
    height: 100%;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
    font-style: $main-font-style;

    @media screen and (min-width: $xxs) {
      font-size: 12px;
    }
    @media screen and (min-width: $xs) {
      font-size: 13px;
    }
 }
