mixin like-btn(options)
  if !options
    - options = {}


  .like-btn.js-like-btn
    a.like-btn__counter.js-like-btn__counter(
      class = options.isActivated ? ' like-btn__counter_active' : ''
      data-count = options.count || '0' )
      span.like-btn__icon