mixin like-btn(options)
  if !options
    - options = {}
  -
    let classes = options.isActivated ? ' like-btn__counter_active' : ''

  .like-btn.js-like-btn
    a.like-btn__counter.js-like-btn__counter(
      class = classes
      data-count = options.count || '0')
      span.like-btn__icon