mixin like-btn(options)
  if !options
    - options = {}
  -
    let classes = options.active ? ' like-btn__counter_active' : ''

  .like-btn.js-like-btn
    a.like-btn__counter.js-like-btn__counter(
      class = classes
      href = options.href
      data-count = options.count)
      span.like-btn__icon