mixin like-btn(options)
  if !options
    - options = {}
  if !options.items
    - options.items = []


  each item in options.items
    .like-btn.js-like-btn
      a.like-btn__counter.js-like-btn__counter(
        class = item.isActivated ? ' like-btn__counter_active' : ''
        data-count = item.count || '0' )
        span.like-btn__icon