extends ../../components/layout/layout
include ../../components/search/search
block title
   | Cards

block header
   +header({theme: 'cards'})
block main
   +main({theme: 'cards'})
      +section({})
         .cards__column
            +search
         .cards__column
            | 2
         .cards__column
            | 3