/* head-footer */ 
@import '../../scss/utils.scss';

.head-footer {

  &__section {
    background: #F4F4F6;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &__logo {
    padding-top: 30px;
    padding-left: 30px;
  }

  &__registration {
    padding-top: 5%;
  }

  &__signin {
   
  }

  &__footer {
    
  }

  &__footer-logo {
    
  }
}
