/* head-footer */ 
@import '../../scss/utils.scss';

.head-footer {

  &__section {
    position: relative;
    background: #F4F4F6;
  }

  &__logo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 30px;
    top: 30px;
  }

  &__registration {
    position: absolute;
    left: 0px;
    top: 150px;

  }

  &__signin {
    position: absolute;
    left: 0px;
    top: 260px;
  }

  &__footer {
    position: absolute;
    left: 0px;
    top: 370px;
  }

  &__footer-logo {
    position: absolute;
    left: 0px;
    top: 853px;
  }
}
