/* registration */ 
@import '../../scss/utils.scss';

.registration {
  background: $default;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0 0 rem(25) rgba(0, 0, 0, 0.2);
  border-radius: rem(4);
  padding: 10% 8% 8%;
  width: 100%;
  min-width: rem(280);

  &__title {
    font-family: $secondary-font;
    font-style: normal;
    font-weight: bold;
    font-size: rem(26);
    line-height: rem(30);
    color: $darker;
  }

  &__name {
    margin-top: 7%;
  }

  &__surname {
    margin-top: 3%;
  }

  &__gender {
    display: flex;

    & .radio {
      margin-right: 6%;
    }
  }
  &__birthday {
    margin-top: 7%;
  }

  &__mail {
    margin-top: 7%;
  }

  &__pass {
    margin-top: 3%;
  }

  &__offer {
    margin-top: 2%;
  }

  &__button {
    margin-top: 7%;
  }

  &__footer {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    font-family: $main-font;
    font-style: normal;
    font-weight: normal;
    font-size: rem(14);
    line-height: rem(18);
    color: #000000;
  }

  &__button-enter {
    width: 31%;
  }
}
